/* header */

#navbarSupportedContent {
    // Overwrite bootstrap flex-grow settings
    flex-grow: unset;

    ul {
        justify-content: flex-end;

        @include media-breakpoint-down('md') {
            justify-content: center;
        }

        @include media-breakpoint-down("xs") {
            flex-direction: column;
        }
    }
}